<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{../css/bootstrap.min.css}" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-dark bg-primary" aria-label="First navbar example">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Note</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample01">
            <ul class="navbar-nav me-auto mb-2">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown01">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
            <form>
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>
</nav>
<p></p>
<p></p>
<div class="container" style="max-width: 800px">
    <table class="table table-warning  table-hover ">
        <thead>
        <tr>
            <th class="text-center">ID</th>
            <th class="text-center">내용</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="paper : ${papers}">
            <td th:text="${paper.id}" class="text-center"></td>
            <td th:text="${paper.words}" class="text-center"></td>
        </tr>
        </tbody>
    </table>
    <form th:action action="note.html" method="post">
        <div>
            <label for="words" class="fs-4 fw-bold fst-italic">노트 내용</label>
        </div>
        <p></p>
        <div class="row">
            <div class="col-6">
                <input type="text" id="words" name="words" class="form-control" placeholder="내용 입력">
            </div>
            <div class="col-3 mx-auto d-grid">
                <button class="btn btn-outline-success" type="submit">노트 등록</button>
            </div>
            <div class="col-3 mx-auto d-grid">
                <button class="btn btn-outline-success" type="button" th:onclick="|location.href='@{/note/edit}'|">노트 수정</button>
            </div>
        </div>
    </form>
    <p></p>
    <p></p>
    <form th:action="@{/note/delete}" method="post">
        <label for="id" class="fs-4 fw-bold fst-italic">노트 삭제</label>
        <p> </p>
        <div class="row">
            <div class="col-8">
                <input type="text" id="id" name="id" class="form-control  " placeholder="노트 아이디 입력">
            </div>
            <div class="col-4 mx-auto d-grid">
                <button class="btn btn-outline-danger" type="submit" >노트 삭제</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>